<h1>Usuários</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ativo</th>
            <th>Perfil</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i<usuarios.length; i++) { %>
            <tr>
                <td><%= usuarios[i].id %></td>
                <td><%= usuarios[i].nome %></td>
                <td><%= usuarios[i].email %></td>
                <td><%= usuarios[i].ativo %></td>
                <td><%= usuarios[i].perfilId %></td>
            </tr>
        <% } %>
    </tbody>
</table>

